---
permalink: /
multiview: [3194, 3180, 3131, 3047, 3099, 3039, 3134, 3084, 3128, 3214, 3115, 3064, 3106, 3231, 3072, 3132, 3157, 3079, 3138, 3029, 3046]
pose_interp: [9068, 9075, 9107, 9112, 9118, 9132, 9145]
---


<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="3DHumanGAN: Towards Photo-Realistic 3D-Aware Human Image Generation">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>3DHumanGAN: Towards Photo-Realistic 3D-Aware Human Image Generation</title>

  <!-- <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro" rel="stylesheet"> -->
  <link rel="stylesheet" href="/assets/css/fonts.css">
  <link rel="stylesheet" href="/assets/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/css/bulma-carousel.min.css">
  <link rel="stylesheet" href="/assets/css/bulma-slider.min.css">
  <!-- <link rel="stylesheet" href="/assets/css/fontawesome.all.min.css"> -->
  <!-- <script src="https://kit.fontawesome.com/ec39017701.js" crossorigin="anonymous"></script> -->


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="/assets/css/index.css">

  <script src="/assets/js/jquery-3.6.1.min.js"></script>
  <script defer src="/assets/js/fontawesome.all.min.js"></script>
  <script src="/assets/js/bulma-carousel.min.js"></script>
  <script src="/assets/js/bulma-slider.min.js"></script>
  <script src="/assets/js/index.js"></script>
</head>

<body>

  <div class="box" id="loading">
    <div class="container" style="padding: 20px;">
      <div class="columns is-centered">
        <h5 class="title is-5" style="margin-bottom: 15px;">Loading ...</h5>
      </div>
      <div class="columns is-centered">
        <progress class="progress is-large is-info" max="100">60%</progress>
      </div>
    </div>
  </div>

  <br>

  <section class="hero">
    <div class="hg3d-body">
      <div class="container is-max-desktop">
        <div class="columns is-centered">
          <div class="column has-text-centered">
            <h3 class="title is-2 publication-title">3DHumanGAN: Towards Photo-realistic 3D-Aware Human Image Generation</h3>
            <div class="is-size-5 publication-authors">
              <span class="author-block">

                <span class="author-block">
                  <a href="https://yzhq97@github.io">Zhuoqian Yang</a><sup>1</sup>, </span>
                <span class="author-block">
                  <a href="mailto:lishikai@sensetime.com">Shikai Li</a><sup>2</sup>, </span>
                <!-- <span class="author-block">
                  <a href="mailto:wangxiaogang@sensetime.com">Xiaogang Wang</a><sup>3</sup>, </span> -->
                <span class="author-block">
                  <a href="https://wywu.github.io/">Wayne Wu</a><sup>1,2</sup>,
                </span>
                <span class="author-block">
                  <a href="https://daibo.info/">Bo Dai</a><sup>1</sup>
                </span>
            </div>

            <div class="is-size-5 publication-authors">
              <span class="author-block"><sup>1</sup>Shanghai AI Laboratory, </span>
              <span class="author-block"><sup>2</sup>SenseTime Research</span>
              <!-- <span class="author-block"><sup>3</sup>CUHK</span> -->
            </div>

            <div class="column has-text-centered">
              <div class="publication-links">
                <span class="link-block">
                  <a href="https://arxiv.org/abs/2212.07378"
                    class="external-link button is-normal is-rounded is-dark">
                    <span class="icon">
                      <i class="ai ai-arxiv"></i>
                    </span>
                    <span>Technical Report</span>
                  </a>
                </span>
                <span class="link-block">
                  <a href="https://github.com/3dhumangan/3DHumanGAN"
                    class="external-link button is-normal is-rounded is-dark">
                    <span class="icon">
                      <i class="fab fa-github"></i>
                    </span>
                    <span>GitHub</span>
                  </a>
                </span>
              </div>
            </div>

            <div class="column is-full">
              <small style="color:#777777">Note: Please use a browser other than Safari for HTML5 videos to play properly.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Teaser -->
<!--   <section class="hero teaser">
    <div class="container is-max-desktop">
      <div class="column is-full">
        <video preload autoplay loop muted playsinline>
          <source src="/assets/media/teaser.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </section> -->
  <!-- Teaser -->

  <!-- Abstract. -->
  <section class="section">
    <div class="container is-max-desktop">
      <div class="columns is-centered has-text-centered">
        <div class="column is-four-fifths">
          <h3 class="title is-3">Abstract</h3>
          <div class="content has-text-justified">
            <p>
              We present 3DHumanGAN, a 3D-aware generative adversarial network (GAN) that synthesizes images of full-body humans with consistent appearances under different view-angles and body-poses. To tackle the representational and computational challenges in synthesizing the articulated structure of human bodies, we propose a novel generator architecture in which a 2D convolutional backbone is modulated by a 3D pose mapping network. The 3D pose mapping network is formulated as a renderable implicit function conditioned on a posed 3D human mesh. This design has several merits: i) it allows us to harness the power of 2D GANs to generate photo-realistic images; ii) it generates consistent images under varying view-angles and specifiable poses; iii) the model can benefit from the 3D human prior. Our model is adversarially learned from a collection of web images needless of manual annotation.
            </p>
          </div>
        </div>
      </div>
  </section>
  <!--/ Abstract. -->

  <!-- Paper video. -->
  <section>
    <div class="container is-max-desktop">
      <div class="columns is-centered has-text-centered">
        <div class="column is-8">
          <h3 class="title is-3">Video Demo</h3>
          <div class="publication-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fYgVYGMLpnw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Paper video.   -->


  <section class="section">
    <div class="container is-max-desktop has-text-centered">

      <div class="columns is-centered">

        <!-- Qualitative Results -->
        <div class="column is-full has-carousel">
          <h3 class="title is-4">Qualitative Results</h3>
          <p>Browse through random generations.</p>
          <br><br>
          <div id="qr-carousel" class="carousel results-carousel">

            {% for id in page.multiview %}
              <div class="item card">
                <video muted preload autoplay="autoplay" loop playsinline>
                  <source src="/assets/multiview/{{ id }}.mp4" type="video/mp4">
                  <p>Your browser does not support HTML5 video.</p>
                </video>
              </div>
            {% endfor %}

            
          </div>
        </div>
        <!--/ Qualitative Results -->

      </div>

      <div class="columns is-centered">
        <div class="column is-full has-carousel">
          <h3 class="title is-4">View Consistency</h3>
          <p>
            The appearance of the generated humans are consistent under different poses and view angles.
          </p>
          <br>
          <div id="vc-carousel" class="carousel results-carousel">

            {% for i in (1..4) %}
              <div class="item card">
                <video muted preload autoplay loop playsinline>
                  <source src="/assets/view_consistency/vc{{ i }}.mp4" type="video/mp4">
                  <p>Your browser does not support HTML5 video.</p>
                </video>
              </div>
            {% endfor %}
            
          </div>
        </div>
      </div>

      <div class="columns is-centered">
        <div class="column is-full has-carousel">
          <h3 class="title is-4">Appearance Interpolation</h3>
            <div class="content has-text-centered">
              <p>
                We can also animate the scene by interpolating the deformation latent codes of two input
                frames. Use the slider here to linearly interpolate between the left frame and the right
                frame.
              </p>
            </div>

            <div class="card" style="padding: 1rem 2rem; border-radius: 1rem">

                <div class="columns is-vcentered">
                  <div class="column is-half interpolation-video-column">
                    <div class="interpolation-image-wrapper" id="interpolation-image-wrapper-1">
                      Loading...
                    </div>
                    <div class="interpolation-image-wrapper" id="interpolation-image-wrapper-2">
                      Loading...
                    </div>
                  </div>
                  <div class="column is-half interpolation-video-column">
                    <div class="interpolation-image-wrapper" id="interpolation-image-wrapper-3">
                      Loading...
                    </div>
                    <div class="interpolation-image-wrapper" id="interpolation-image-wrapper-4">
                      Loading...
                    </div>
                  </div>
                </div>
                <div class="columns is-centered">
                  <div class="column is-full">
                    <input class="slider is-fullwidth is-large is-info"
                           id="interpolation-slider"
                           step="1" min="0" max="120" value="0" type="range">
                  </div>
                </div>

            </div>

        </div>
      </div>

      <br><br>

      <div class="columns is-centered">
        <div class="column is-12">
          <h3 class="title is-4">Pose Interpolation</h3>
          <div class="content has-text-justified">
            Our 3D-aware GAN can be used to render simple animation of generated humans by interpolating between poses.
          </div>
          <br><br>
          <div id="pi-carousel" class="carousel results-carousel">

            {% for id in page.pose_interp %}
              <div class="item card">
                <video muted preload autoplay loop playsinline>
                  <source src="/assets/pose/{{ id }}_pose.mp4" type="video/mp4">
                  <p>Your browser does not support HTML5 video.</p>
                </video>
              </div>
            {% endfor %}

            
          </div>
        </div>
      </div>


    </div>

  </section>

  <br><br>

  <section>
    <div class="container is-max-desktop">
      <!-- Concurrent Work. -->
<!--       <div class="columns is-centered">
        <div class="column is-full">
          <h3 class="title is-4">Concurrent Works</h3>

          <div class="content has-text-justified">
            <p>
              These exciting works were introduced around the same time as ours.
            </p>
            <ul>
              <li><a href="https://arxiv.org/abs/2208.00561">AvatarGen: a 3D Generative Model for Animatable Human Avatars</a></li>
            </ul>
             <ul>
              <li><a href="https://arxiv.org/pdf/2206.14314">Generative Neural Articulated Radiance Fields</a></li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
    <!--/ Concurrent Work. -->

    <br><br>

    <div class="container is-max-desktop content">
      <h3 class="title">BibTeX</h3>
      <p>If you find this work useful for your research, please consider citing our paper:</p>
      <pre><code>@article{yang20223dhumangan,
    title={3DHumanGAN: Towards Photo-realistic 3D-Aware Human Image Generation}, 
    author={Yang, Zhuoqian and Li, Shikai and Wu, Wayne and Dai, Bo},
    journal   = {arXiv preprint},
    volume    = {arXiv:2212.07378},
    year    = {2022}
}</code></pre>
      <br><br>
    </div>
  </section>

  <footer class="footer">

    <div class="columns is-centered">
      <div class="content">
        <img class="thumbnail" src="/assets/images/shanghaiAILAB_up.jpeg" style="height:50px;">
        <img class="thumbnail" src="/assets/images/sensetime.jpeg" style="height:50px;">
      </div>
    </div>
    <div class="columns is-centered">
      <div class="content">
        <p> template from <a
            href="https://github.com/nerfies/nerfies.github.io" target="_blank"> Nerfies Project Page</a>. </p>
      </div>
    </div>

  </footer>

  <script>
    $(window).on('load', function () {
      $('#loading').hide();
    })

    {% if site.g_analytics %}
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.g_analytics }}', 'auto');
      ga('send', 'pageview');
    {% endif %}
  </script>

  
</body>

</html>